<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
</head>
<body>
<h1>Test</h1>
<form method="post" th:action="@{/test}" th:object="${user}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
